.about{
    height: auto;
    background-color: var(--fifth);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about_description{
    width: 450px;
    font-size: 18px;
    color: rgb(18, 24, 51);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid gray ;
    border-radius: 3%;
}

.project{
    background-color: var(--sixth);
}


.P2{
    background-color: var(--seventh);
}


.recomendation{
    background-color: var(--eighth);
}

.recomendation2{
    background-color: var(--ninth);

}

@media (max-width: 600px){
    .about h1{
        font-size: 25px;
    }
}