@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.map {
  width: 98vw;
  margin: auto;
  height: 95vh;
}

