@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&family=Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

:root{
    
  --primary: rgba(22, 22, 22, 0.867);
  --secondary: teal;
  --third: aqua;
  --fourth: rgb(107, 103, 103);
  --fifth:  rgb(230, 249, 253);
  --sixth: #5ab9f0;
  --seventh:  rgb(233, 158, 193);
  --eighth:  rgb(255, 255, 155);
  --ninth: rgb(128, 241, 179);
  --tenth:  rgb(143, 237, 253);
  --eleventh: rgb(210, 240, 230);
  
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}



label{
  margin-bottom: 30px;
  font-size: 35px;
  font-size: 40px;
}

span{
  margin-bottom: 30px;
}

ul {
  margin: 0;
  
}

h3{
  text-align: center;
}

h1{
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

b{
  font-family: 'Changa', sans-serif;
  font-size: 20px;
}


