.map {
    width: 98vw;
    margin: auto;
    height: 95vh;
}

.leaflet-marker-icon {
    background-image: url("../../icons/marker.svg");
    background-size: 35px;
    text-align: center;
    line-height: 32px;
    color: black;
}