.nav{
  display: flex;
  min-width: 80%;
  justify-content: space-between;
  font-weight: 600;
  font-size: 25px;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.867);
  height: 80px;
  padding: 10px;
  color: teal;
  font-family: 'Changa', sans-serif;
  
}

.active_link{
  color: aqua;
  background-color: rgb(107, 103, 103);
  border-radius: 7px;    
}


.nav a{
  width: 150px;
  text-align: center;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  margin-left: 10px;
  }
  
.nav a:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  }
  
    nav.scrollmenu {
      white-space: nowrap;
      overflow: auto;
       /* -webkit-mask-image: linear-gradient(.25turn, black, 98%, transparent); 
       mask-image: linear-gradient(.25turn, black, 98%, transparent);  */
    }
    
    nav.scrollmenu a {
      display: inline-block;
    
    }
