.nav{
  display: flex;
  min-width: 80%;
  justify-content: space-between;
  font-weight: 600;
  font-size: 25px;
  align-items: center;
  background-color: var(--primary);
  height: 80px;
  padding: 10px;
  color: var(--secondary);
  font-family: 'Changa', sans-serif;
  
}

.active_link{
  color: var(--third);
  background-color: var(--fourth);
  border-radius: 7px;
}


.nav a{
  width: 150px;
  text-align: center;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  margin-left: 15px;
  padding: 5px;
  }
  
.nav a:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);  
}
  
    nav.scrollmenu {
      white-space: nowrap;
      overflow: auto;
}
    
    nav.scrollmenu a {
      display: inline-block;
    
    }

    @media (max-width: 600px){
      .nav{
        font-size: 22px;
      }

      .nav a{
        width: 150px;
        text-align: center;
        margin-left: 15px;
        padding: 5px;
        }
    }
